---
http_interactions:
- request:
    method: get
    uri: "<API-URL>/posts/2"
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1609421436'
      Etag:
      - W/"116-jnDuMpjju89+9j7e0BqkdFsVRjs"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "userId": 1,
          "id": 2,
          "title": "qui est esse",
          "body": "est rerum tempore vitae\nsequi sint nihil reprehenderit dolor beatae ea dolores neque\nfugiat blanditiis voluptate porro vel nihil molestiae ut reiciendis\nqui aperiam non debitis possimus qui neque nisi nulla"
        }
  recorded_at: Wed, 06 Jan 2021 18:59:41 GMT
[...]
- request:
    method: get
    uri: "<API-URL>/posts/10"
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1610021441'
      Etag:
      - W/"d9-iWGkhNuCVU3QUpWXcSkr72qX524"
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "userId": 1,
          "id": 10,
          "title": "optio molestias id quia eum",
          "body": "quo et expedita modi cum officia vel magni\ndoloribus qui repudiandae\nvero nisi sit\nquos veniam quod sed accusamus veritatis error"
        }
  recorded_at: Thu, 07 Jan 2021 12:09:55 GMT
recorded_with: VCR 6.0.0
